<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>

<nav th:fragment="admin_top(n)" class="ui pink inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui blue header item">管理后台</h2>
            <a th:href="@{/admin/blogs}" class="m-item item m-mobile-hide" th:classappend="${n==1} ? 'active blue'"><i class="home icon"></i>博客</a>
            <a th:href="@{/admin/types}" class=" m-item item m-mobile-hide" th:classappend="${n==2} ? 'active blue'"><i class="idea icon"></i>分类</a>
            <a th:href="@{/admin/tags}" class="m-item item m-mobile-hide" th:classappend="${n==3} ? 'active blue'"><i class="tags icon"></i>标签</a>
            <a th:href="@{/admin/comment}" class="m-item item m-mobile-hide" th:classappend="${n==4} ? 'active blue'"><i class="tasks icon"></i>评论</a>
            <a th:href="@{/index}" class="m-item item m-mobile-hide"><i class="browser icon"></i>主页</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div  class="text">
                        <img th:text="${session.loginUser==null ? '观光客':session.loginUser}" class="ui avatar image" src="https://s2.ax1x.com/2020/02/18/3kGhtg.th.png" alt="3kGhtg.png" border="0">
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a th:href="@{/logOut}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


</body>
</html>