<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客管理</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>

  <!--导航-->
  <nav th:replace="~{/admin/adminFragements::admin_top(1)}"></nav>
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a th:href="@{/admin/blogs/add}" class="item">发布</a>
        <a th:href="@{/admin/blogs}" class="teal active item">列表</a>
      </div>
    </div>
  </div>

  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <div th:hidden="${msg!=null ? false:true}" th:text="${msg!=null ? msg:''}"
           th:classappend="${#strings.equals(msg, '新增失败')? 'red': 'green'}" class="ui message">Red</div>
      <form action="@{#}" method="post" class="ui secondary segment form">
        <input type="hidden" name="page">
        <div class="inline fields">
          <div class="field">
            <input type="text" name="title" placeholder="标题">
          </div>
          <div class="field">
            <div class="ui labeled action input">
              <div class="ui type selection dropdown">
                <input type="hidden" name="typeId">
                <i class="dropdown icon"></i>
                <div class="default text">分类</div>
                <div class="menu">
                  <div th:each="type : ${types}" class="item"
                       th:data-value="${type.getId()}" th:text="${type.getName()}">错误日志</div>
                </div>
              </div>
              <button id="clear-btn" type="button" class="ui mini teal basic button"><i class="delete icon"></i>清除</button>
            </div>

          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="recommend" name="recommend">
              <label for="recommend">推荐</label>
            </div>
          </div>
          <div class="field">
            <button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
          </div>
        </div>
      </form>
      <div id="table-container">
        <table th:fragment="blogList" class="ui compact teal table">
          <thead>
          <tr>
            <th>序号</th>
            <th>标题</th>
            <th>类型</th>
            <th>推荐</th>
            <th>更新时间</th>
            <th>发布状态</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="blog, iterStat: ${page}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${blog.getTitle()}"></td>
            <td th:text="${blog.getType().getName()}"></td>
            <td th:text="${blog.isRecommend() ? '是':'否'}"></td>
            <td th:text="${blog.getUpdateTime()}"></td>
            <td th:text="${blog.isPublish() ? '草稿':'发布'}"></td>
            <td>
              <a th:href="@{/admin/blogs/}+${blog.id}+@{/update}" class="ui mini teal basic button">编辑</a>
              <a th:href="@{/admin/blogs/}+${blog.id}+@{/delete}" class="ui mini red basic button">删除</a>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th colspan="7">
              <div class="ui mini pagination menu" th:if="${page.totalPages > 1}">
                <a th:href="@{/admin/blogs(page=${(page.number)-1})}" th:unless="${page.first}" class=" item">上一页</a>
                <a th:href="@{/admin/blogs(page=${(page.number)+1})}" th:unless="${page.last}" class=" item">下一页</a>
              </div>
              <a th:href="@{/admin/blogs/add}" class="ui mini right floated teal basic button">新增</a>
            </th>
          </tr>
          </tfoot>
        </table>
      </div>

    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <div th:replace="~{fragements::foot}"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });
    $('#clear-btn')
            .on('click', function() {
              $('.ui.type.dropdown')
                      .dropdown('clear')
              ;
            });


    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    };
    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        loaddata();
    });
    function loaddata() {
      $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
        title : $("[name='title']").val(),
        typeId : $("[name='typeId']").val(),
        recommend : $("[name='recommend']").prop('checked'),
        page : $("[name='page']").val()
      });
    }
  </script>
</body>
</html>