<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>标签管理</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>

  <!--导航-->
  <nav th:replace="~{/admin/adminFragements::admin_top(3)}"></nav>
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a th:href="@{/admin/tags/add}" class="item">发布</a>
        <a th:href="@{/admin/tags}" class="teal active item">列表</a>
      </div>
    </div>
  </div>

  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <div th:hidden="${msg!=null ? false:true}" th:text="${msg!=null ? msg:''}"
           th:classappend="${#strings.equals(msg, '已经存在该标签')? 'red': 'green'}" class="ui message">Red</div>
      <table class="ui compact teal table">
        <thead>
          <tr>
            <th>序号</th>
            <th>名称</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="tag, iterStat:${page}">
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${tag.getName()}">认知升级</td>
            <td>
              <a th:href="@{/admin/tags/}+${tag.id}+@{/update}" class="ui mini teal basic button">编辑</a>
              <a th:href="@{/admin/tags/}+${tag.id}+@{/delete}" class="ui mini red basic button">删除</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="6" >
              <div class="ui mini pagination menu" th:if="${page.totalPages > 1}">
                <!-- th:unless, 与th:if相反 -->
                <a th:href="@{/admin/tags(page=${(page.number)-1})}" th:unless="${page.first}" class=" item">上一页</a>
                <a th:href="@{/admin/tags(page=${(page.number)+1})}" th:unless="${page.last}" class=" item">下一页</a>
              </div>
              <a th:href="@{/admin/tags/add}" class="ui mini right floated teal basic button">新增</a>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <div th:replace="~{fragements::foot}"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

  </script>
</body>
</html>