<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新增分类</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" th:href="@{/lib/editormd/css/editormd.min.css}">
  <link rel="stylesheet" th:href="@{/css/me.css}">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

  <!--导航-->
  <div th:replace="~{admin/adminFragements::admin_top(2)}"></div>
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a th:href="@{/admin/types/add}" class="item active teal">发布</a>
        <a th:href="@{/admin/types}" class="teal item">列表</a>
      </div>
    </div>
  </div>

  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <form th:action="*{id}==null ? @{/admin/types/saveType} : @{/admin/types/{id}(id=*{id})}" method="post" class="ui form">

        <div class="field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">名称</label>
            <input th:value="${type!=null ? type.getName() : ''}"  class="form-control" required="" autofocus="" type="text" name="name" placeholder="分类名称">
          </div>

        </div>


        <div class="ui error message"></div>

        <div class="ui right aligned container">
          <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
          <button  class="ui teal submit button" type="submit">提交</button>
        </div>

      </form>
    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <div th:replace="~{fragements::foot}"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script th:src="@{/lib/editormd/editormd.min.js}"></script>

  <script>


    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });


  </script>
</body>
</html>