<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<link th:href="@{/css/blog.css}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{/js/spig.js}"></script>
<!--博客精灵 start*-->
<div th:fragment="angle-div" id="spig" class="spig">
    <div id="message">……</div>
    <div id="mumu" class="mumu"></div>
</div>

<th:block th:fragment="angle">
    <script type="text/javascript">
        var isindex=true;
        var title="";
        var visitor="NM$L";
    </script>
</th:block>

</body>
</html>