<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首页</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" th:href="@{/css/me.css}">
  <link rel="stylesheet" th:href="@{/css/APlayer.min.css}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

  <!--导航-->
  <div th:replace="~{fragements::top(n=1)}"></div>
  <div id="player"></div>
  <!--中间内容-->
  <div  class="m-container-big m-padded-tb-big">
    <div class="ui container">
      <div class="ui stackable grid">
        <!--左边博客列表-->
        <div class="eleven wide column">
          <!--header-->
          <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
              <div class="column">
                <h3 class="ui teal header">博客</h3>
              </div>
              <div class="right aligned column">
                共 <h2 th:text="${page.totalElements}" class="ui orange header m-inline-block m-text-thin"></h2> 篇
              </div>
            </div>
          </div>

          <!--content-->
          <div class="ui attached  segment">

            <div th:each="blog : ${page.content}"  class="ui padded vertical segment m-padded-tb-large">
              <div class="ui middle aligned mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header"><a th:href="@{/blog/}+${blog.id}" target="_blank" class="m-black" th:text="${blog.title}"></a></h3>
                  <p th:text="|${blog.description}......|" class="m-text"></p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="https://s2.ax1x.com/2020/02/18/3kGhtg.th.png" alt="" class="ui avatar image">
                          <div class="content"><a href="@{#}" th:text="${blog.manager.getNickname()}"  class="header"></a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}" ></span>
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> <span th:text="${blog.views}"></span>
                        </div>
                      </div>
                    </div>
                    <div class="right aligned five wide column">
                      <a th:text="${blog.type.name}" href="@{#}" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin"></a>
                    </div>
                  </div>
                </div>

                <div class="five wide column">
                  <a th:href="@{/blog/}+${blog.id}" target="_blank">
                    <img th:src="${blog.firstPicture}" alt="" class="ui rounded image">
                  </a>
                </div>

              </div>
            </div>
          </div>

          <!--footer-->
          <div class="ui bottom attached segment" th:if="${page.totalPages > 1} " >
            <div class="ui middle aligned two column grid">
              <div class="column">
                <a th:href="@{/(page=${(page.number)-1})}" th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
              </div>
              <div class="right aligned column">
                <a th:href="@{/(page=${(page.number)+1})}" th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
              </div>
            </div>
          </div>

        </div>

        <!--右边的top-->
        <div class="five wide column">

          <!--分类-->
          <div class="ui segments">
            <div class="ui secondary segment">
              <div class="ui two column grid">
                <div class="column">
                  <i class="idea icon"></i>分类
                </div>
                <div class="right aligned column">
                  <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                </div>
              </div>
            </div>
            <div class="ui teal segment small">
              <div class="ui fluid vertical menu" th:each="type:${types}">
                <a href="#" class="item">
                  <span  th:text="${type.name}"></span>
                  <div th:text="${type.blogs.size()}" class="ui teal basic left pointing label">13</div>
                </a>
              </div>
            </div>
          </div>

          <!--标签-->
          <div class="ui segments m-margin-top-large">
            <div class="ui secondary segment">
              <div class="ui two column grid">
                <div class="column">
                  <i class="tags icon"></i>标签
                </div>
                <div class="right aligned column">
                  <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                </div>
              </div>
            </div>
            <div class="ui teal segment">
              <a  th:each="tag : ${tags}" href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                <span th:text="${tag.name}"></span> <div th:text="${tag.getBlogs().size()}" class="detail"></div>
              </a>
            </div>
          </div>

          <!--最新推荐-->
          <div class="ui segments m-margin-top-large">
            <div class="ui secondary segment ">
              <i class="bookmark icon"></i>最新推荐
            </div>
            <div class="ui segment" th:each="blog : ${recommendBlog}">
              <a th:href="@{/blog/}+${blog.id}" th:text="${blog.title}" target="_blank" class="m-black m-text-thin"></a>
            </div>
          </div>

          <!--二维码-->
          <h4 class="ui horizontal divider header m-margin-top-large">扫码交流</h4>
          <div class="ui centered card" style="width: 11em">
            <img th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image" >
          </div>
        </div>

      </div>
    </div>

  </div>

  <br>
  <br>
  <div th:replace="~{blog-angle::angle-div}"></div>
  <!--底部footer-->
  <div th:replace="~{fragements::foot}"></div>



  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <script type="text/javascript" charset="utf-8"  src="https://files.cnblogs.com/files/liuzhou1/L2Dwidget.0.min.js"></script>
  <script type="text/javascript" charset="utf-8"  src="https://files.cnblogs.com/files/liuzhou1/L2Dwidget.min.js"></script>

<script type="text/javascript">
  L2Dwidget.init({
    "model": {
      jsonPath: "https://unpkg.com/live2d-widget-model-z16@1.0.5/assets/z16.model.json",
      "scale": 1
    },
    "display": {
      "superSample": 5,
      "width": 200,
      "height": 400,
      "position": "right",
      "hOffset": 10,
      "vOffset": -28
    }
  });
</script>

<script type="text/javascript">
  var isindex=true;
  var title="";
  var visitor="！！！";
</script>

  <script th:src="@{/js/APlayer.min.js}"></script>
  <script th:inline="javascript">
    const ap = new APlayer({
      container: document.getElementById('player'),
      mini: true,
      fixed:true,
      autoplay: true,
      theme: '#FADFA3',
      loop: 'all',
      order: 'random',
      preload: 'auto',
      volume: 0.3,
      mutex: true,
      listFolded: true,
      listMaxHeight: 90,
      lrcType: 3,
      audio: [
        {
          name: '眠りの森 ',
          artist: 'Aimer / Yuuki Ozaki',
          url: 'http://music.163.com/song/media/outer/url?id=29095828.mp3',
          cover: '/images/mian.jpg',
          lrc: '/lrc/mian.lrc',
          theme: '#ebd0c2'
        },
        {
          /*
          * http://music.163.com/song/media/outer/url?id={}.mp3 方式获取外链
          * */
          name: 'Other Side',
          artist: '雅-MIYAVI-',
          url: 'http://music.163.com/song/media/outer/url?id=1378406180.mp3',
          cover: '/images/side.jpg',
          lrc: '/lrc/side.lrc',
          theme: '#46718b'
        }
      ]
    });
  </script>

</body>
</html>