<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>标签</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" th:href="@{/css/me.css}">
  <link rel="stylesheet" th:href="@{/css/APlayer.min.css}">
</head>
<body>

  <!--导航-->
  <div th:replace="~{fragements::top(n=3)}"></div>

  <!--中间内容-->
  <div style="opacity: 0.8;" class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <!--header-->
      <div class="ui top attached segment">
        <div class="ui middle aligned two column grid">
          <div class="column">
            <h3 class="ui blue header">标签</h3>
          </div>
          <div class="right aligned column">
            共 <h2 th:text="${tags.size()}" class="ui orange header m-inline-block m-text-thin"> </h2> 个
          </div>
        </div>
      </div>

      <div class="ui attached segment m-padded-tb-large">
        <a th:if="${tag.getBlogs().size()!=0}" th:each="tag : ${tags}" th:href="@{/tags/}+${tag.getId()}" th:classappend="${tag.getId()==tagId} ? 'purple'" class="ui basic left pointing large label m-margin-tb-tiny">
         <span th:text="${tag.getName()}"></span><div th:text="${tag.getBlogs().size()}" class="detail"></div>
        </a>
      </div>

      <div class="ui blue top attached teal segment">
        <div th:each="blog : ${page.content}"  class="ui padded vertical segment m-padded-tb-large">
          <div class="ui middle aligned mobile reversed stackable grid">
            <div class="eleven wide column">
              <h3 class="ui header"><a th:href="@{/blog/}+${blog.id}" target="_blank" class="m-black" th:text="${blog.title}"></a></h3>
              <p th:text="|${blog.description}......|" class="m-text"></p>
              <div class="ui grid">
                <div class="eleven wide column">
                  <div class="ui mini horizontal link list">
                    <div class="item">
                      <img src="https://s2.ax1x.com/2020/02/18/3kGhtg.th.png" alt="" class="ui avatar image">
                      <div class="content"><a th:href="@{/about/}" th:text="${blog.manager.nickname}"  class="header">antigenMHC</a></div>
                    </div>
                    <div class="item">
                      <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}" ></span>
                    </div>
                    <div class="item">
                      <i class="eye icon"></i> <span th:text="${blog.views}"></span>
                    </div>
                  </div>
                </div>
                <div class="right aligned five wide column">
                  <a th:text="${blog.type.name}" th:href="@{'/types/'+${blog.type.id}}" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin"></a>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="column">
                  <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" class="ui  basic left pointing label m-padded-mini m-text-thin" th:classappend="${tag.getId()==tagId} ? 'teal'" th:each="tag : ${blog.tags}" th:text="${tag.name}">方法论</a>
                </div>
              </div>
            </div>

            <div class="five wide column">
              <a th:href="@{/blog/}+${blog.id}" target="_blank">
                <img th:src="${blog.firstPicture}" alt="" class="ui rounded image">
              </a>
            </div>

          </div>
        </div>
      </div>

      <div class="ui bottom attached segment" th:if="${page.totalPages > 1} " >
        <div class="ui middle aligned two column grid">
          <div class="column">
            <!-- 传当前id过去，不然没法分页 -->
            <a th:href="@{'/tags/'+${tagId}(page=${(page.number)-1})}" th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
          </div>
          <div class="right aligned column">
            <a th:href="@{'/tags/'+${tagId}(page=${(page.number)+1})}" th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
          </div>
        </div>
      </div>
      <br>
      <div id="player"></div>
    </div>
  </div>

  <br>
  <!--底部footer-->
  <div th:replace="~{fragements::foot}"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
  <script type="text/javascript" charset="utf-8"  th:src="@{/js/L2Dwidget.min.js/}"></script>
  <script type="text/javascript" charset="utf-8"  th:src="@{/js/L2Dwidget0.min.js/}"></script>
  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

  </script>
  <script th:src="@{/js/APlayer.min.js}"></script>
  <script>
    const ap = new APlayer({
      container: document.getElementById('player'),
      autoplay: true,
      theme: '#b7daff',
      loop: 'all',
      preload: 'auto',
      volume: 0.3,
      mutex: true,
      listFolded: true,
      listMaxHeight: 90,
      lrcType: 3,
      audio: [
        {
          name: '眠りの森 ',
          artist: 'Aimer / Yuuki Ozaki',
          url: 'http://music.163.com/song/media/outer/url?id=29095828.mp3',
          cover: '/images/mian.jpg',
          lrc: '/lrc/mian.lrc',
          theme: '#ebd0c2'
        },
        {
          /*
          * http://music.163.com/song/media/outer/url?id={}.mp3 方式获取外链
          * */
          name: 'Other Side',
          artist: '雅-MIYAVI-',
          url: 'http://music.163.com/song/media/outer/url?id=1378406180.mp3',
          cover: '/images/side.jpg',
          lrc: '/lrc/side.lrc',
          theme: '#46718b'
        }
      ]
    });
  </script>
  <script type="text/javascript">
    L2Dwidget.init({
      "model": {
        jsonPath: "https://unpkg.com/live2d-widget-model-z16@1.0.5/assets/z16.model.json",
        "scale": 1
      },
      "display": {
        "superSample": 5,
        "width": 200,
        "height": 400,
        "position": "right",
        "hOffset": 10,
        "vOffset": -28
      }
    });
  </script>
</body>
</html>